<div class="card">
  <div class="card-divider">
    <h4>Performance Metrics</h4>
  </div>
  <div class="card-section">
    <div class="dashboard-number-card{{#if positive}} positive{{/if}}{{#if negative}} negative{{/if}}">
      <h5 class="dashboard-number-value">11,531<br /> BDI Imports/Hour</h5>
      <div>
        <p class="dashboard-number-area">Change from 3.108</p>
        <p class="dashboard-number-delta">
        {{#if positive}}
          <i class="fa fa-arrow-up" aria-hidden="true"></i>
        {{else}}
          {{#if negative}}
          <i class="fa fa-arrow-down" aria-hidden="true"></i>
          {{/if}}
        {{/if}}
        11,476 (.4%)
        </p>
      </div>
    </div>
  </div>
  <div class="card-section">
    <div class="dashboard-number-card{{#if positive}} positive{{/if}}{{#if negative}} negative{{/if}}">
      <h5 class="dashboard-number-value">192,825<br />Bulk&nbsp;API Opportunities/Hour</h5>
      <div>
        <p class="dashboard-number-area">Change from 3.108</p>
        <p class="dashboard-number-delta">
        {{#if positive}}
          <i class="fa fa-arrow-up" aria-hidden="true"></i>
        {{else}}
          {{#if negative}}
          <i class="fa fa-arrow-down" aria-hidden="true"></i>
          {{/if}}
        {{/if}}
        188,348 (2.3%)
        </p>
      </div>
    </div>
  </div>
  <div class="card-section">
    <div class="dashboard-number-card{{#if positive}} positive{{/if}}{{#if negative}} negative{{/if}}">
      <h5 class="dashboard-number-value">1,312 ms<br /> Single Contact Insert</h5>
      <div>
        <p class="dashboard-number-area">Change from 3.108</p>
        <p class="dashboard-number-delta">
        {{#if positive}}
          <i class="fa fa-arrow-up" aria-hidden="true"></i>
        {{else}}
          {{#if negative}}
          <i class="fa fa-arrow-down" aria-hidden="true"></i>
          {{/if}}
        {{/if}}
        1,423 (7.8%)
        </p>
      </div>
    </div>
  </div>
</div>
