<div class="card">
  <div class="card-divider">
    <h4>Performance Metrics</h4>
  </div>
  <div class="card-section">
    <div class="dashboard-number-card{{#if positive}} positive{{/if}}{{#if negative}} negative{{/if}}">
      <h5 class="dashboard-number-value">11,000<br /> BDI Imports/Hour</h5>
      <div>
        <p class="dashboard-number-area">Change from 3.108</p>
        <p class="dashboard-number-delta">
        {{#if positive}}
          <i class="fa fa-arrow-up" aria-hidden="true"></i>
        {{else}}
          {{#if negative}}
          <i class="fa fa-arrow-down" aria-hidden="true"></i>
          {{/if}}
        {{/if}}
        10,000 (10%)
        </p>
      </div>
    </div>
  </div>
</div>
