<div class="card">
  <div class="card-section">
    <h4>Release Notes Summary</h4>
    <ul class="stats-list">
      <li class="stats-list-negative">
        <a href="#release-notes-critical-changes">1</a></span> <span class="stats-list-label">Critical Changes</span>
      </li>
      <li class="stats-list">
        <a href="#release-notes-changes">3</a> <span class="stats-list-label">Changes</span>
      </li>
      <li class="stats-list-positive">
        <a href="#release-notes-issues-closed">4</a> <span class="stats-list-label">Issues Closed</span>
      </li>
    </ul>
  </div>
</div>
