<div class="card">
  <div class="card-divider">
    <h4><a name="release-notes-changes"></a>Installation Info</h4>
  </div>
  <div class="card-section">
    <a class="button expanded success" href="https://mrbelvedere.salesforcefoundation.org/mpinstaller/npsp">Web Installer (recommended)</a>
    <a class="button expanded primary" href="https://login.salesforce.com/packaging/installPackage.apexp?p0=04t1Y000001I8rn">Manual Install Link</a>
    <strong>Trialforce Template ID</strong>: 0TT4100000843bA</strong>
  </div>
</div>
