<div class="card">
  <div class="card-divider">
    <h4>Release Dates</h4>
  </div>
  <div class="card-section">
    <ul class="stats-list">
      <li>
        Oct 8, 2017 <span class="stats-list-label">Release Created</span>
      </li>
      <li>
        Oct 8, 2017 <span class="stats-list-label">Push to Sandbox</span>
      </li>
      <li>
        Oct 14, 2017 <span class="stats-list-label">Push to Production</span>
      </li>
    </ul>
    <div class="primary progress" role="progressbar" tabindex="0" aria-valuenow="66" aria-valuemin="0" aria-valuetext="Pushed to Sandbox" aria-valuemax="100">
      <div class="progress-meter" style="width: 66%">
        <p class="progress-meter-text">Pushed to Sandboxes</p>
      </div>
    </div>
  </div>
</div>
