<div class="card">
  <div class="card-section">
    <h4><a name="release-notes-issues-closed"></a>Issues Closed</h4>
    <ul>
      <li><a href="https://github.com/SalesforceFoundation/Cumulus/issues/1864">#1864</a>: If Audit Fields are enabled through Permission Set, NPSP will insert those fields for new records based on an NPSP Data Import custom field</li>
      <li><a href="https://github.com/SalesforceFoundation/Cumulus/issues/12636">#2636</a>: Campaign Allocations not used if a null Amount field is populated after the Opp was previously saved.</li>
      <li><a href="https://github.com/SalesforceFoundation/Cumulus/issues/2713">#2713</a>: With address verification, Verification Status field not updating correctly</li>
    </ul>
  </div>
</div>
